<%- include('includes/head.ejs') %>

  <%- include('includes/nav.ejs') %>

  <main class="container" style="padding-top: 100px;">

    <!-- ================================================ -->

    <form class="card p-4 mb-4" id="new-user-form">
      <div class="mb-3">
        <label for="input-email" class="form-label">Email address</label>
        <input id="input-email"  class="form-control" type="email" name="email">
        <div class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <label for="input-password" class="form-label">Password</label>
        <input id="input-password"  class="form-control" type="password" name="password" >
      </div>
      <div class="mb-3 form-check">
        <label for="input-is-admin" class="form-check-label">Admin?</label>
        <input id="input-is-admin"  class="form-check-input" type="checkbox">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <!-- ================================================ -->

    <div class="card p-4">

      <table id="users-table" class="table">
        <thead>
          <tr>
            <th scope="col" class="j-hide-up-to-md">ID</th>
            <th scope="col">email</th>
            <th scope="col">admin</th>
            <th scope="col" class="j-hide-up-to-md">password (hashed)</th>
            <th scope="col">actions</th>
          </tr>
        </thead>
        <tbody>
          <% users.forEach((user) => { %>
          <tr data-id="<%= user.id %>">
            <td class="j-hide-up-to-md"><%= user.id %></td>
            <td><%= user.email %></td>
            <td><%= user.is_admin %></td>
            <td class="j-hide-up-to-md"><%= user.password %></td>
            <td>
              <button class="update-user-button  btn btn-success text-light" data-id="<%= user.id %>"  data-bs-toggle="modal"  data-bs-target="#update-modal">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                  <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                </svg>
              </button>
              <button class="delete-user-button  btn btn-danger " data-id="<%= user.id %>">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                  <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                </svg>
              </button>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>

  </main>


  <!-- Modal -->
  <div class="modal fade" id="update-modal" tabindex="-1" aria-labelledby="update-modal-title" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="update-modal-title">Update User ID: <span></span></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div class="mb-3">
            <label for="update-email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="update-email" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <!-- <div class="mb-3">
            <label for="update-password" class="form-label">Password</label>
            <input type="password" class="form-control" id="update-password">
          </div> -->
          <div class="mb-3 form-check">
            <label class="form-check-label" for="update-admin-check">Admin</label>
            <input type="checkbox" class="form-check-input" id="update-admin-check">
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary"   data-bs-dismiss="modal"  id="update-save-button">Save changes</button>
        </div>
      </div>
    </div>
  </div>


  <script type="module" src="/js/home-page.js"></script>
<%- include('includes/end.ejs') %>